<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
  </head>
  <body>
   <h1>RubyOnRails.ba</h1> 
   <h1 id="someh1">Javascript.ba</h1> 
  </body>
</html>
